html,body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1294px;
    margin: 0 auto;
    padding: 0 47px;
}
@media(max-width: 575px) {
    .container {
        padding: 0 15px;
    }
}