@import "reset.scss";

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
}
@media(max-width: 992px) {
body.lock {
    overflow: hidden;
}
}
.container {
    max-width: 1294px;
    margin: 0 auto;
    padding: 0 47px;
}
@media(max-width: 575px) {
    .container {
        padding: 0 15px;
    }
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 1.3px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;
}
.subtitle {
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 2px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
/////////////////////////////////////////////////// header ///////////////////////////////////////////////////
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 30px 0px;
    // border-bottom: 0.5px solid #878787;
    background: transparent;
    transition: 0.2s linear;
}
.header::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-bottom: 0.5px solid #878787;
    z-index: 10;
}
@media(max-width: 575px) {
    .header {
        padding: 19px 0px;
    }
}
.header.scroll {
    background: white;
    
}
.header__row {
    display: grid;
    grid-template-columns: 50px 1fr 200px;
    justify-items: center;
    align-items: center;
}
@media(max-width: 992px) {
    .header__row {
        grid-template-columns: 50px 1fr 50px;
    }
}
.header__logo {
    display: block;
    width: 45px;
    height: 45px;
    z-index: 10;
}
@media (max-width: 575px) {
    .header__logo {
        width: 30px;
        height: 30px;
    }
}
.header__logo-image {
    width: 45px;
    height: 45px;
    fill: white;
    transition: 0.2s linear;
}    
@media (max-width: 575px) {
    .header__logo-image {
        width: 30px;
        height: 30px;
    }
}
.header.scroll .header__logo-image {
    fill: #393246;
}
@media(max-width: 992px) {
    .header.active .header__logo-image {
        fill: white;
    }   
}
.header nav {
    margin-right: -165px;
    transition: .2s linear;
}
@media (max-width: 992px) {
    nav {
        margin-right: -47px;
    }
}
@media (max-width: 992px) {
    nav {
        display: none;
    }
}
@media(max-width: 992px) {
    .header.active nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 5;
        // transition: 0.2s linear;
    }
}
.nav__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 35px;
}
@media(max-width: 992px) {
    .header.active .nav__row {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 992px) {
    .header.active .nav__item {
        margin: 10px 0px;
        font-size: 20px;
    }
}
.header.scroll .nav__item-link {
    color: #777777;
}
.nav__item-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.2s linear;
}
@media(max-width: 992px) {
    .header.active .nav__item-link {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.25;
        color: white;
    }
}
.header__contacts {
    justify-self: flex-end;
    z-index: 10;
}
@media (max-width: 992px) {
    .header__contacts {
        margin-right: 80px;
    }
}
@media (max-width: 575px) {
    .header__contacts {
        margin-right: 29px;
    }
}
@media (max-width: 380px) {
    .header__contacts {
       margin: 0 auto;
       margin-right: 10px
    }
}
.header__contacts-item,
.header.active .header__contacts-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s linear;
}
.header.scroll .header__contacts-item {
    color: #777777;
}
@media(max-width: 992px) {
    .header.active.scroll .header__contacts-item {
        color: #fff;
    }
}
@media (max-width: 575px) {
    .header__contacts-item,
    .header.active .header__contacts-item {
        font-size: 16px;
        line-height: 1.18;
    }
}
.header-phone {
    width: 21px;
    height: 21px;
    fill: none;
    stroke: white;
    margin-right: 10px;
    transition: 0.2s linear;
}
.header.scroll .header-phone {
    stroke: #393246;
    
}
@media(max-width: 992px) {
    .header.scroll.active .header-phone {
        stroke: white;
    }
}
.header__burger {
    position: relative;
    display: none;
    align-items: center;
    width: 40px;
    height: 21px;
    z-index: 10;
}
@media (max-width: 992px) {
    .header__burger {
        display: flex;
    }
}
.header.scroll .header__burger span,
.header.scroll .header__burger::before,
.header.scroll .header__burger::after {
    background: #393246;
}
@media(max-width: 992px) {
    .header__burger span,
    .header__burger::before,
    .header__burger::after,
    .header.active .header__burger span,
    .header.active .header__burger::before,
    .header.active .header__burger::after {
        display: block;
        width: 100%;
        height: 3px;
        background: white;
    }
}
.header__burger::before,
.header__burger::after {
    position: absolute;
    left: 0px;
    content: '';
}
.header__burger::before {
    top: 0px;
}
.header__burger::after {
    bottom: 0px;
}
.header.active .header__burger span {
    transform: scale(0);
}
.header.active .header__burger::before {
    transform: rotate(45deg) translate(9px, -30%);
}
.header.active .header__burger::after {
    transform: rotate(-45deg) translate(13px, -100%);
    
}
.header.active .header__burger::before,
.header.active .header__burger::after {
    width: 60%;
}
//////////////////////////////////////////////////// hero /////////////////////////////////////////////
.hero {
    padding: 270px 0px 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
                            url('../img/hero/hero_bg.png')no-repeat 0% 0% / cover;
    
}
@media(max-width: 575px) {
    .hero {
        padding: 165px 0px 10px;
    }
}
.hero__title {
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 140px;
    line-height: 1.171;
    letter-spacing: 11px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
@media(max-width: 992px) {
    .hero__title {
        font-size: 100px;
    }
}
@media(max-width: 575px) {
    .hero__title {
        font-size: 60px;
    }
}
.hero__subtitle {
    position: relative;
    max-width: 632px;
    text-align: center;
    margin: 0 auto 162px;
    color: white;
}
@media(max-width: 1024px) {
    .hero__subtitle {
        margin: 0 auto 90px;
    }
}
@media(max-width: 992px) {
    .hero__subtitle {
        font-size: 18px;
    }
}
@media(max-width: 575px) {
    .hero__subtitle {
        font-size: 16px;
        margin: 0 auto 162px;
    }
}
.hero__link-wrapper {
    margin: 0 auto 63px;
    text-align: center;
}
.hero__link {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
@media(max-width: 575px) {
    .hero__link-wrapper {
        display: none;
    }
}
.arrow_bottom {
    fill: white;
    width: 10px;
    height: 40px;
}
//////////////////////////////////////////////// our-team ///////////////////////////////////////////////////////
.our-team {
    padding: 150px 0 10px;
}
@media(max-width: 768px) {
    .our-team {
        padding: 70px 0 10px;
    }
}
@media(max-width: 575px) {
    .our-team {
        position: relative;

    }
}
.our-team__title {
    margin-bottom: 50px;
}
@media(max-width: 575px) {
    .our-team__title {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.07em;
        margin-bottom: 23px;
    }
}
.our-team__wrapper {
    display: grid;
    grid-template-columns: 45% 1fr;
    justify-content: space-between;
    column-gap: 100px;
}
@media(max-width: 1200px) {
    .our-team__wrapper {
        column-gap: 50px;
    }
}
@media(max-width: 992px) {
    .our-team__wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        row-gap: 50px;
    }
}
@media(max-width: 575px) {
    .our-team__wrapper {
        margin-bottom: 210px;
    }
}
.our-team__items:nth-child(2) {
    height: 528px;
}
@media(max-width: 575px) {
    .our-team__items:nth-child(2) {
        position: absolute;
        top: 75%;
        left: 0;
        width: 100%;
        height: 228px;
        height: auto;
    }
}
    .our-team__items:nth-child(2) img {
        width: auto;
        height: 100%;
    }
@media(max-width: 992px) {
    .our-team__items:nth-child(2) img {
        width: 100%;
    }
}
.our-team__item {
    padding: 27px 32px 27px 0px;
    border-bottom: 1px solid #D5D5D5;;
}
.our-team__item:first-child {
    padding: 10px 0 50px;
}
.our-team__item-title {
    position: relative;
}
@media(max-width: 575px) {
    .our-team__item-title {
        font-size: 16px;
        line-height: 1.5;
    }
}
.our-team__item-title::after {
    content: url('../img/our-team/arrow.svg');
    display: block;
    position: absolute;
    top: 0px;
    right: -33px;
    transition: 0.2s linear;
}
.our-team__item.active .our-team__item-title::after {
    transform: rotate(-90deg);
    top: -3px;
    right: -37px;
}
.our-team__item-text {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s linear;
}
.our-team__item.active .our-team__item-text {
    margin-top: 15px;
}
////////////////////////////////////////////// portfolio ////////////////////////////////////////////////////
.portfolio.main {
    padding: 110px 0 10px;
}
.portfolio {
    padding: 200px 0 10px;
}
@media(max-width: 992px) {
    .portfolio {
       padding: 175px 0 10px;
    }
}
@media(max-width: 575px) {
    .portfolio {
       padding: 120px 0 10px;
    }
}
@media(max-width: 575px) {
    .portfolio.main {
       padding: calc(100% - 303px) 0 10px;
    }
}
.portfolio__title {
    text-align: center;
    margin-bottom: 109px;
}
@media(max-width: 992px) {
    .portfolio__title {
       margin-bottom: 79px;
    }
}
@media(max-width: 575px) {
    .portfolio__title {
       font-size: 30px;
       margin-bottom: 50px;
    }
}
.portfolio__tabs-wrapper {
    text-align: center;
    overflow-x: scroll;
}
.portfolio__tabs-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}
.portfolio__tabs {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 671px;
    margin: 0 auto 40px;
    padding-bottom: 11px;
    padding-right: 15px;
}

.portfolio__tabs::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: #D5D5D5;

}
@media(max-width: 575px) {
    .portfolio__tabs {
        width: 540px;
    }
}
.portfolio__tab {
    position: relative;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #393246;
    padding: 10px 0 0 0;
    cursor: pointer;
}
.portfolio__tab:last-child {
    margin-right: 0px;
}
.portfolio__tab::after {
    position: absolute;
    top: -2px;
    right: -15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D3D3D;
}
.portfolio__tab_first::after {
    content: '29';
}
.portfolio__tab_second::after {
    content: '18';
}
.portfolio__tab_third::after {
    content: '12';
}
.portfolio__tab_fourth::after {
    content: '2';
}
.portfolio__tab.active::before {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    z-index: 2;
}
.portfolio__items-wrapper {
    display: none;
}
.portfolio__items-wrapper.active {
    display: block;
}
.portfolio__items-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}
.tab-1 .portfolio__items-inner {
    grid-template-areas: 
    "a b c d"
    "a e g g"
    "f f g g"
    "h j k k";
}
.tab-2 .portfolio__items-inner {
    grid-template-areas: 
    "a e c d"
    "a b k k"
    "f f g g"
    "h j g g"
    ;
}
.tab-3 .portfolio__items-inner {
    grid-template-areas: 
    "f f c d"
    "h e k k"
    "g g a b "
    "g g a j "
    ;
}
.tab-4 .portfolio__items-inner {
    grid-template-areas: 
    "g g c a"
    "g g j a"
    "d b f f"
    "k k h e"
    ;
     
}
.portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2) {
    display: none;
}
.portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2).active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a b c d"
    "a e g g"
    "f f g g"
    ;
    gap: 30px;
}

@media(max-width: 992px) {
    .portfolio__items-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        
    }
    .portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2).active {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .tab-1 .portfolio__items-inner {
        grid-template-areas: 
        "a b"
        "a c"
        "d e"
        "f f"
        "g g"
        "g g"
        "h j"
        "k k";
        gap: 30px;
    } 

.tab-2 .portfolio__items-inner {
        grid-template-areas: 
        "b a"
        "c a"
        "f f"
        "d e"
        "g g"
        "g g"
        "h j"
        "k k";
    }
.tab-3 .portfolio__items-inner {
        grid-template-areas: 
        "f f"
        "e d"
        "a b"
        "a c"
        "g g"
        "g g"
        "h j"
        "k k";
    }
.tab-4 .portfolio__items-inner {
        grid-template-areas: 
        "k k"
        "g g"
        "g g"
        "f f"
        "d e"
        "h j"
        "c a"
        "b a";
    }
.portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2).active {
        grid-template-areas: 
        "a b"
        "a c"
        "d e"
        "f f"
        "g g"
        "g g"
        "h j"
        "k k";
        gap: 30px;
    } 
}
@media(max-width: 575px) {
    .portfolio__items-inner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(11, 1fr);
        
    }
    .portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2).active {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 10px;
    }
    .tab-1 .portfolio__items-inner {
        grid-template-areas: 
        "a"
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "j"
        "k";
        gap: 10px;
    } 
    .tab-2 .portfolio__items-inner {
        grid-template-areas: 
        "b"
        "c"
        "a"
        "a"
        "d"
        "e"
        "f"
        "g"
        "h"
        "j"
        "k";
    }
    .tab-3 .portfolio__items-inner {
        grid-template-areas: 
        "j"
        "k"
        "a"
        "a"
        "d"
        "f"
        "e"
        "g"
        "h"
        "b"
        "c";
    }
    .tab-4 .portfolio__items-inner {
        grid-template-areas: 
        "e"
        "g"
        "j"
        "k"
        "a"
        "a"
        "d"
        "f"
        "h"
        "b"
        "c";
    }
    .portfolio__items-wrapper.active .portfolio__items-inner:nth-of-type(2).active {
        grid-template-areas: 
        "a"
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "j"
        "k";
    }
}
.portfolio__items-inner img {
    width: 100%;
    height: 100%;
}

.portfolio__item-box1 { 
   grid-area: a;
}
.portfolio__item-box2 { 
    grid-area: b;
 }
 .portfolio__item-box3 { 
    grid-area: c;
 }
 .portfolio__item-box4 { 
    grid-area: d;
 }
 .portfolio__item-box5 { 
    grid-area: e;
 }
 .portfolio__item-box6 { 
    grid-area: f;
 }
 .portfolio__item-box7 { 
    grid-area: g;
 }
 .portfolio__item-box8 { 
    grid-area: h;
 }
 .portfolio__item-box9 { 
    grid-area: j;
 }
 .portfolio__item-box10 { 
    grid-area: k;
 }
 
 .portfolio__button {
    display: block;
    max-width: 290px;
    width: 100%;
    margin: 40px auto 210px;
    padding: 22px 54px;
    text-align: center;
    border: 1px solid #393246;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #393246;
    cursor: pointer;
 }
@media(max-width: 768px) {
    .portfolio__button {
        margin-bottom: 100px;
    }
}
@media(max-width: 575px) {
    .portfolio__button {
        margin-bottom: 75px;
    }
}
 ////////////////////////////////////////
 .link-form {
    position: relative;
    max-width: 595px;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 12px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
 }
 @media(max-width: 767px) {
    .portfolio__link-title { 
        font-size: 30px;
    }
 }
 @media(max-width: 575px) {
    .portfolio__link-title { 
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.12em;
        padding-bottom: 6px;
    }
 }
 .arrow_top {
    position: absolute;
    top: 12px;
    right: -20px;
    width: 15px;
    height: 15px;
    fill: none;
 }
 @media(max-width: 767px) {
    .arrow_top {
        top: 6px;
    }
 }
 @media(max-width: 575px) {
    .arrow_top {
        top: 0px;
        width: 12px;
        height: 12px;
    }
 }
 ////////////////////////////////////////////////////
 .portfolio__link-form {
    margin: 0 auto 130px;
 }
 @media(max-width: 768px) {
    .portfolio__link-form {
        margin: 0 auto 106px;
     }
 }
 @media(max-width: 575px) {
    .portfolio__link-form {
        margin: 0 auto 71px;
     }
 }

.form {
    display: flex;
    flex-direction: column;
}
.input__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media(max-width: 667px) {
    .input__wrapper {
        flex-direction: column;
        margin-bottom: 30px;
    }
}
.input {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    color: #878787;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #3D3D3D;
    max-width: 335px;
    width: 100%;
    outline: none;
}

.input:first-child {
    margin-right: 30px;
}
.submit__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media(max-width: 667px) {
    .submit__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}
.submit {
    position: relative;
    display: block;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #393246;
    border: none;
    padding: 22px 57px;
    max-width: 228px;
    margin-right: 34px;
    cursor: pointer;
}

.submit__wrapper-items {
    position: relative;
    display: inline-block;
}
@media(max-width: 667px) {
    .submit__wrapper-items {
        margin-bottom: 30px;
    }
    .submit {
        margin-right: 0px;
    }
}
@media(max-width: 480px) {
    .submit {
        padding: 22px 57px;
    }
}
.input_svg {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left: 148px;
    stroke: white;
    fill: none;
    width: 7px;
    height: 7px;
}
.form__text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: #878787;
    max-width: 309px;
    width: 100%;
}
.form__text span {
    text-decoration: underline;
}
///////////////////////////////////////// footer ///////////////////////////////////////
.footer {
    padding: 95px 0px;
    background: #F7F7F7;
}
.footer__wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    justify-items: center;
    gap: 30px;
}
.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__item-link {
    display: block;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D3D3D;
    cursor: pointer;
}
.footer__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    color: #878787;
}
 /////////////////////////////////////////// popup ////////////////////////////////////////////////
 .popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
 }
 .popup.open {
    opacity: 1;
    visibility: visible;
 }
 .popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
 }
.popup__content {
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: #fff;
}
@media(max-width: 768px) {
    .popup__content {
        max-width: 600px;
    }
}
.popup__close{
    position: absolute;
    top: -28px;
    right: 0px;
    cursor: pointer;
}
.popup__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 20px;
}
@media(max-width: 667px) {
    .popup__title {
        font-size: 20px;
    }
    .popup__content {
        padding: 30px;
    }
}
@media(max-width: 480px) {
    .popup__content {
        padding: 15px;
    }
}
//////////////////////////////////////// popup-thanks //////////////////////////////////
.popup-thanks {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}
.popup-thanks.open {
    visibility: visible;
    opacity: 1;
}
.popup-thanks__body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    min-height: 100%;
}
.popup-thanks__content {
    position: relative;
    background: #fff;
    max-width: 607px;
    width: 100%;
    text-align: center;
    padding: 50px;
}
.popup-thanks__close {
    position: absolute;
    top: -26px;
    right: 0px;
    cursor: pointer;
}
.icon-thanks {
    width: 60px;
    height: 60px;
    fill: #41A239;
    margin-bottom: 22px;
}
.popup-thanks__title {
    margin-bottom: 20px;
}
@media(max-width: 575px) {
    .popup-thanks__title {
       font-size: 20px;
    }
}
.popup-thanks__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #777777;
    max-width: 321px;
    width: 100%;
    margin: 0 auto 40px;
}
.popup-thanks__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 387px;
    width: 100%;
    margin: 0 auto;
}
@media(max-width: 768px) {
    .popup-thanks__social-wrapper {
        max-width: 175px;
    }
}
.popup-thanks__social-link {
    display: block;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #878787;
}
@media(max-width: 768px) {
    .popup-thanks__social-link:nth-child(2),
    .popup-thanks__social-link:nth-child(3) {
        display: none;
    }
}

//////////////////////////////////////////////// prices /////////////////////////////////////////////////
.prices {
    padding: 205px 0 10px;
}
.prices__title {
    text-align: center;
    margin-bottom: 100px;
}
.prices__items {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin-bottom: 150px;
}
@media(max-width: 992px) {
    .prices__items {
        grid-template: 1fr / 1fr;
        margin-bottom: 70px;
    }
}
.prices__item_left .prices__item-title {
    max-width: 380px;
}
@media(max-width: 992px) {
    .prices__item_left .prices__item-title {
        max-width: 100%;
        margin-bottom: 30px;
    }
}
.prices__item-items {
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 25px;
}
.prices__item-items:last-child {
    margin-bottom: 0px;
}
.prices__item-title {
    margin-bottom: 12px;
}
.prices__item-text {
    margin-bottom: 25px;
}
/////////////////////////////////////////////////// project-cost ////////////////////////////////////////
.project-cost {
    padding: 10px 0 10px;
    // margin-bottom: 1000px;
}

.project-cost__title {
    max-width: 400px;
    margin: 0 auto 58px;
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.28;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;
}
/*
.project-cost__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 30px;
    margin-bottom: 57px;
    // grid-auto-rows: 1fr;
}
@media(max-width: 992px) {
    .project-cost__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        // margin-bottom: 1000px;
    }
}
.project-cost__item-inner {
    text-align: center;
    padding: 33px 0px;
    border: 1px solid #D5D5D5;
    // position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr / 1fr;
    // height: 100%;
}
.project-cost__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr / 1fr;
}
.project-cost__item-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr / 1fr;
    
}
*/
.project-cost__wrapper {
    display: flex;
    // flex-direction: column;
    gap: 30px;
    margin-bottom: 57px;
}
@media(max-width: 992px) {
    .project-cost__wrapper {
        flex-direction: column;
    }
}
.project-cost__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 31.5%;
    
    
}
@media(max-width: 992px) {
    .project-cost__item:last-child {
        // margin-bottom: 1000px;
    }
}
.project-cost__item-wrapper {
        height: 0%;
    }

@media(max-width: 992px) {
    .project-cost__item-wrapper {
    height: 0;
    overflow: hidden;
    transition: 0.7s;
}
}
.project-cost__item-inner {
    text-align: center;
    padding: 33px 0px;
    padding-bottom: 0;
    border: 1px solid #D5D5D5;

    // height: 100%;
}
.project-cost__item:nth-child(2) .project-cost__item-inner {
    position: relative;
    border: 2px solid #393246;
}
.project-cost__item:nth-child(2) .project-cost__item-inner::before {
    content: 'RECOMMEND';
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #3D3D3D;
    background: white;

}
.project-cost__item-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.166;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;
}
.project-cost__item-subtitle {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.166;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #878787;

    margin-bottom: 30px;
}
.project-cost__item-text {
    padding: 0 30px;
    // margin-top: 30px;

    height: 0;

    transition: 0.5s;
    overflow: hidden;
    // min-height: 100%;
    & p {
        text-align: left;
        margin: 15px 0px;
    }
}
@media(max-width: 992px) {
    .project-cost__item-text {
        height: auto;
    }
}
/*
.project-cost__item-text {
    // margin-top: 30px;
    // height: 100%;
    // overflow: visible;
}
*/
.project-cost__item-link {
    display: block;
    // position: absolute;
    // left: 0px;
    // bottom: 0px;
    // width: 100%;
    border: 1px solid #393246;
    padding: 22px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #393246;

}
.project-cost__item:nth-child(2) .project-cost__item-link {
    display: block;
    background: #393246;
    color: white;
    
}
.project-cost__item-button {
    display: none;
    padding: 22px 0px;
    text-align: center;
    border: 1px solid #393246;
    // border-top: 0px;
    width: 100%;
    background: white;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #3D3D3D;

    }
@media(max-width: 992px) {
    .project-cost__item-button {
        margin-bottom: 20px;
    }
}
.project-cost__item-button_main {
        display: inline-block;
        width: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border: none;
        outline: none;
    }
    .project-cost__item-button_main::after {
        content: url('../img/project-cost/icon_down.png');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -35px;
    }
@media(max-width: 992px) {
    .project-cost__item-button_bottom {
        display: block;
        outline: none;
        display: inline-block;
        width: auto;
        position: relative;
        
    }
}
    .arrow {
        width: 30px;
        height: 30px;
        fill: transparent;
        // stroke: black;
    }
    @media(max-width: 992px) {
        .project-cost__item-button.project-cost__item-button_main {
        display: none;
        border: none;
    }
    }
    ////////////////////////////////////////// projects /////////////////////////////////////
    .projects {
        padding: 157px 0px 10px;
    }
    .projects__title {
        text-align: center;
    }
