.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 1.3px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;
}
.subtitle {
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 2px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}